@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #000;
  --background: #fff;
}

* {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground-rgb);
  background: var(--background-end-rgb);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.cell {
  @apply rounded-full;
  position: relative;
  overflow: hidden;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1px 2px 0 rgba(#000, 0.1);
}

.cell .text {
  font-size: 50px;
  position: relative;
  z-index: 1;
}

.cell .blur {
  font-size: 150px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: blur(20px) opacity(0.4);
}
