@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #000;
  --background: #fff;
}

* {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground-rgb);
  background: var(--background-end-rgb);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

* {
  scroll-behavior: smooth;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  z-index: 2;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.swiper {
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  background: transparent !important ;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.mySwiper2,
.mySwiper {
  height: 100%;
  width: 100%;
}

.mySwiper {
  height: 100%;
  box-sizing: border-box;
  padding: 10px 0;
}

.mySwiper .swiper-slide {
  height: 100%;
  opacity: 0.5;
  @apply border-transparent border-1;
}

.mySwiper2 .swiper-slide-thumb-active {
  background-color: black !important;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
  @apply rounded-xl border-1 border-primary/50;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  @apply rounded-xl;
}

.autoplay-progress {
  position: absolute;
  right: 0px;
  bottom: 0px;
  z-index: 10;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: var(--swiper-theme-color);
}

.autoplay-progress svg {
  --progress: 0;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
  stroke-width: 2px;
  stroke: var(--swiper-theme-color);
  fill: none;
  stroke-dashoffset: calc(90 * (1 - var(--progress)));
  stroke-dasharray: 90;
  transform: rotate(-90deg);
}
